/*
for skeleton.html
*/
/* resident overwrites */ 

body { font:normal 12px Arial, Helvetica; background: repeat-x top left #F6F6F6 ;margin: 0; padding: 0; outline: none;}

img { border: 0; }
ul { list-style:none; list-style-image: url('data:image/gif;base64,R0lGODlhBQANAIAAAGOMnP///yH5BAEAAAEALAAAAAAFAA0AAAIJjI+pu+APo4SpADs'); margin-left: 15px;}

p {margin: 0 0 10px 0;}
hr {color:#000;background-color:#000;height:1px;margin: 0 0 2px 0;}
td{vertical-align: text-top;}

/* from usefulclassroomphrases */
.lead {font-size: 110%;background-color:#F6F6F6;}

/* headings*/
h1,h2,h3,h4,h5,h6{padding:0; margin:30px 0 0 0;}
h1{color:#000; font-size: 130%; }
h2{color:#000; font-size: 120%; border-bottom: 1px solid gray;}
h3{color:#000; font-size: 115%; }
h4{color:#000; font-size: 110%; }
h5{color:#000; font-size: 105%; }
h6{color:#000; font-size: 105%; }
h1+h2 {margin-top: 2px;}
h2+h3 {margin-top: 2px;}
h3+h4 {margin-top: 2px;}
h4+h5 {margin-top: 2px;}
h5+h6 {margin-top: 2px;}

/* navi */
#nav ul {
margin:0;
padding: 0;
}
#nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px 0 0;
}

/* #Media Queries
================================================== */
 
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}
