<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0"/>
    <title>{{meta.pagetitle}} | {{meta.siteTitle}}</title>
    <meta name="description" content="{{meta.description}}" >

    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.source" content="{{source.websourcepath}}"/>

    <link rel="stylesheet" href="{{meta.jsdelivrdomain}}99lime/0.94/css/kickstart.css">

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}template/drf-common.css?v={{meta.cssjsversion}}">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}source/drf/drf-custom-css.css?v={{meta.cssjsversion}}">

<style type="text/css">
/* links on this page */
#nav ul li a[href="./{{source.dirlimb}}"] {
    color: #4d99e0;
}
</style>

{{#meta.css}}
  {{#url}}
    <link rel="stylesheet" type="text/css" href="{{{url}}}">
  {{/url}}
  {{#inline}}
    <style>
        {{{inline}}}
    </style>
  {{/inline}}
{{/meta.css}}

{{{content.additionalhead}}}
</head>
<body class="d2c_{{source.pathinfo.filename}} {{meta.d2c}}" >

<div class="grid">
    <div id="header" class="">
    <header>
        <div id="nav" role="navigation" >
        <nav>
            <article>{{{content.navigation}}}</article>
        </nav>
        </div>
    </header>
    </div>

    <div id="main" class="col_8" role="main" >
        <section>
            <article>{{{content.main}}}</article>
        </section>
    {{#meta.comment}}
        comment
    {{/meta.comment}}
    </div>

    <div id="sidebar" class="col_4" role="complementary" >
        {{{content.sidebar}}}
    </div>

    <div id="footer" class="" role="contentinfo" >
    <footer>
        {{{content.footer}}}
        <div id="drf-edit" class="col_8" >
            <a href="#drf-edit" style="display: none;" >edit</a>
        </div>
    </footer>
    </div>
</div>
    <script src="{{meta.jsdelivrdomain}}g/jquery,jquery.cookie{{meta.jsdelivr}}"></script>
    <script src="{{meta.baseurl}}template/drf-edit.js?v={{meta.cssjsversion}}" type="text/javascript"></script>
    <script src="{{meta.baseurl}}source/drf/drf-custom-js.js?v={{meta.cssjsversion}}" type="text/javascript"></script>

{{#meta.jquery}}
    <script type="text/javascript">
        $(document).ready(function() { 
            {{meta.jquery}}
        });
    </script>
{{/meta.jquery}}
{{#meta.js}}
  {{#url}}
    <script src="{{{url}}}" type="text/javascript"></script>
  {{/url}}
  {{#inline}}
    <script type="text/javascript">
        {{{inline}}}
    </script>
  {{/inline}} 
{{/meta.js}}
{{{content.additionalbody}}}
</body>
</html>
