<button id="drf-edit" >edit</button>
<form accept-charset="ISO-8859-1" class="drf-webedit" style="display: none ;" >
    <textarea class="sixteen columns" name="content" style="background-color: #000000; color: #FFFFFF; height: 400px;" ></textarea>
    <br/>
    <button id="drf-save">save</button>
    <a href="#main" id="drf-render" onclick="javascript:render()" >preview</a>
<h4>most important markdown tags</h4>
<pre>
# Heading 1
## Heading 2

Text in __bold__ or *italic*

![Images](http://example.com/blue.jpg)

[Hyperlinks](http://example.com)

email &lt;address@example.com&gt;

* listing
* listing

</pre>
<a href="http://daringfireball.net/projects/markdown/basics">complete markdown syntax</a>
</form>
<div id="successmsg" class="hidden notice" >submitted successfully</div>
<div id="errormsg" class="hidden notice" >error occurred while sending</div>

<script src="lib/js-markdown-extra/js-markdown-extra.js" type="text/javascript"></script>
