<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0"/>
    <title>{{meta.pagetitle}} | {{meta.siteTitle}}</title>
    <meta http-equiv="description" content="{{meta.description}}"/>

    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.source" content="{{source.websourcepath}}"/>

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/CSS-Mini-Reset/CSS-Mini-Reset-min.css">

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/skeleton.css">

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/usefulclassroomphrases/ucp.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}template/tpl.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}source/_custom-css.css">
</head>
<body class="d2c_{{source.pathinfo.filename}} {{meta.d2c}}" >

<div class="container">
    <header id="header" class="sixteen columns">
        <nav id="nav" role="navigation" >
            <article>{{{content.navigation}}}</article>
        </nav>
    </header>

    <div id="main" class="twelve columns" role="main" >
        <section class="page">
            <article>{{{content.main}}}</article>
        </section>

    {{#meta.comment}}
        comment
    {{/meta.comment}}

    </div>

    <div id="sidebar" class="four columns" >
        {{{content.sidebar}}}
    </div>

    <footer id="footer" class="sixteen columns" role="contentinfo" ></footer>
</div>
    <script src="{{meta.baseurl}}lib/jquery-1.10.1.min.js"></script>
    <script src="{{meta.baseurl}}lib/usefulclassroomphrases/jquery.js" type="text/javascript"></script>
    <script src="{{meta.baseurl}}template/tpl.js?v=q" type="text/javascript"></script>
    <script src="{{meta.baseurl}}source/_custom-js.js?v=q" type="text/javascript"></script>
</body>
</html>
