<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0"/>
    <title>{{meta.pagetitle}} | {{meta.siteTitle}}</title>
    <meta name="description" content="{{meta.description}}" >

    <link rel="schema.dcterms" href="http://purl.org/dc/terms/">
    <meta name="dcterms.source" content="{{source.websourcepath}}"/>

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/layout.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/skeleton/stylesheets/skeleton.css">

    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}lib/usefulclassroomphrases/ucp.css">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}template/tpl.css?v={{meta.cssjsversion}}">
    <link rel="stylesheet" type="text/css" href="{{meta.baseurl}}source/drf-custom-css.css?v={{meta.cssjsversion}}">
</head>
<body class="d2c_{{source.pathinfo.filename}} {{meta.d2c}}" >

<div class="container">
    <div id="header" class="sixteen columns">
    <header>
        <div id="nav" role="navigation" >
        <nav>
            <article>{{{content.navigation}}}</article>
        </nav>
        </div>
    </header>
    </div>

    <div id="main" class="twelve columns" role="main" >
        <section>
            <article>{{{content.main}}}</article>
        </section>
    {{#meta.comment}}
        comment
    {{/meta.comment}}
    </div>

    <div id="sidebar" class="four columns" role="complementary" >
        {{{content.sidebar}}}
    </div>

    <div id="footer" class="sixteen columns" role="contentinfo" >
    <footer>
        {{{content.footer}}}
    </footer>
    </div>
</div>
    <script src="{{meta.baseurl}}lib/jquery-1.10.1.min.js"></script>
    <script src="{{meta.baseurl}}lib/usefulclassroomphrases/jquery.js" type="text/javascript"></script>
    <script src="{{meta.baseurl}}template/drf-edit.js?v={{meta.cssjsversion}}" type="text/javascript"></script>
    <script src="{{meta.baseurl}}source/drf-custom-js.js?v={{meta.cssjsversion}}" type="text/javascript"></script>
</body>
</html>
