--- site wide
siteTitle: psm
baseurl: http://localhost/php-site-maker/
disqusId:
htmlextension: .html
sourceextension: md
ymlseparator: '#meta#'

path:
    template: ../_template/
    source: ../_source/
    html: ../

--- page specific, optional overwrite in directory or source
template: skeleton
pagedurable: ../_source/_pagedurable.md
pagetitle: Title from root-config 
comment: false
description: Some general site wide description
