[submodule "lib/CSS-Mini-Reset"]
	path = lib/CSS-Mini-Reset
	url = https://github.com/vladocar/CSS-Mini-Reset/
[submodule "lib/usefulclassroomphrases"]
	path = lib/usefulclassroomphrases
	url = https://github.com/klml/usefulclassroomphrases
[submodule "lib/skeleton"]
	path = lib/skeleton
	url = https://github.com/dhg/Skeleton.git
[submodule "_make/lib/spyc"]
	path = _make/lib/spyc
	url = https://github.com/mustangostang/spyc/
[submodule "_make/lib/mustache"]
	path = _make/lib/mustache
	url = https://github.com/bobthecow/mustache.php
