/*
 * @name style.css
 * @date 2013-02-22
 */

#nav article ul {
margin:0;
padding: 0;
}
#nav article ul li {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px 0 0;
}
#nav article ul li:first-child a {
    background: url("htxtp://bit.umija.de/img/umija_logo.png") no-repeat scroll 25px 20px #8DA7CC;
    display: block;
    height: 90px;
    overflow: hidden;
    width: 200px;
}


/* edit funct */
form.webedit textarea {
    background-color: #000000;
    color: #FFFFFF;
    height: 400px;
}
