/* resident overwrites */
/* main font, color ... */
body {
font: 12px sans-serif;
}
/* headings */
h1, h2, h3 {
}
/* hyperlinks */
a {
    color: #0645AD;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #2C49B1;
}
a:active,
a.active { color: #2E6465; }
