/* resident overwrites */
/* main font, color ... */
body {
}
/* headings */
h1, h2, h3 {
}
/* hyperlinks */
a {
}
a:hover {
    text-decoration: underline;
}
a:visited {
}
a:active,
a.active { 
}